/* CSS QUIENES SOMOS*/

/* TODO */

* {
    margin: 0px;
    padding: 0px;
    color: white;
     /* outline: 1px solid aqua; */
}

/* BODY */
body {
    position: relative;
    /*width: 1903px;*/
    width: 100%;
    background: linear-gradient(to right, rgb(67, 23, 117), #160600);
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 300px;
}


/* MAIN */
main {
    position: relative;
    float: left;
    /*width: 1280px;*/
    width: 70%;
    height: auto;
    margin-left: 100px;
    margin-right: 50px;
}

/* ASIDE */
aside {
    float: right;
    /*width: 300px;*/
    width: 16%;
    margin-top: 10px;
    margin-right: 100px;
}


/* FOOTER */
footer {
    position: relative;
    float: left;
    width: 100%;
}

/* SECCION */
section .parrafo {
    width: 48%;
}

/* SELECTOR POR ETIQUETA */
h1 {
    text-align: center;
    color: rgb(255, 243, 232);
    font-size: 60px;
    font-family: 'Bungee Inline', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Nabla', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin: auto;
}


ul {
    margin-left: 12%;
}

ul li {
    display: inline-block;
    list-style: none;
    font-size: 35px;
    font-family: 'Megrim', 'Bungee Inline', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-right: 3px solid #932C21;
}

ul li a {
    text-decoration: none;
}

ul li:last-child {
    border-right: none;
}

ul li :hover {
    font-weight: 900;
}



/* SELECTOR POR ID */
#logo {
    display: block;
    float: center;
    width: 300px;
    height: 300px;
    margin: auto;
    padding-top: 20px;
    border-radius: 50%;
}

#logo_footer {
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 40px;
    border-radius: 50%;
}

#header {
    background-image: radial-gradient(circle, #651E31 0%, BLACK 100%);
}

#nosotros {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;

}

#premios {
    width: 300px;
    height: 1005px;
}

#banner {
    width: 300px;
    margin-top: 5px;
}

#footer {
    border-top: 1px solid #160600;
    box-shadow: 10px 10px 10px 10px black;
}

#footer .parrafo {
    float: left;
    font-size: 20px;
    line-height: 150px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 60%;
}

#quienessomos {
    float: left;
    width: 100%;
    margin-top: 130px;
}

#descripcion {
    float: left;
}

#tripadvisor {
    float: left;
    width: 8%;
    margin-left: 7%;
}

#reseñas {
    float: left;
    width: 8%;
    margin-left: 5%;
}

/* SELECTOR POR CLASE */
.parrafo {
    float: left;
    width: 100%;
    letter-spacing: 1px;
    font-family: 'Gruppo', 'Courier New', Courier, monospace;
    text-align: justify;
    color: white;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.clearboth {
    clear: both;
}


/* RESPONSIVE*/
/* Adaptación de ancho fijo de resoluciones de más de 1300px de ancho.*/
@media screen and (min-width: 1300px) {
    section {
        margin: 0px;
        padding: 0px;
    }

    main {
        width: 75%;
        margin-left: 3%;
        margin-right: 3%;
    }

    aside {
        float: left;
        width: 15%;
        margin-right: 3%;
    }

    #quienessomos {
        width: 100%;
    }

    #premios {
        height: 730px;
        width: 100%;
    }

    .parrafo {
        font-size: 1.3em;
    }
}


/* TABLET HORIZONTAL */
/* He cogido de referencia: Galaxy Tab S4 en Google Chrome (1138px x 712px) */
@media screen and (max-width: 1138px) {
    main {
        width: 76%;
        margin-left: 3%;
        margin-right: 3%;
    }

    aside {
        float: left;
        width: 15%;
        margin-right: 3%;
    }

    #quienessomos {
        width: 100%;
        margin-top:15px;
    }

    #premios {
        height: 450px;
        width: 100%;
    }

    .parrafo {
        font-size: 1.3em;
    }

    #tripadvisor {
        margin-bottom: 3%;
    }
}

/* TABLET VERTICAL */
/* He cogido de referencia: Galaxy Tab S4 en Google Chrome (712px x 1138px) */
@media screen and (max-width: 712px) {
    section {
        margin: 0px;
    }

    #premios {
        height: 530px;
        width: 100%;
    }

    #nosotros {
        width: 100%;
    }

    section .parrafo {
        width: 100%;
    }

    #tripadvisor {
        display: none;
    }

    #reseñas {
        display: none;
    }

    #premios{
        height: 300px;
    }

    #logo_footer {
        width: 100px;
        height: 100px;
        margin-left: 2%;
    }

    #footer .parrafo {
        width: 65%;
        font-size: .8em;
        padding-right: 0px;
        line-height: 105px;
    }
}

/* TELEFONO HORIZONTAL */
/* He cogido de referencia: iPhone SE (667px x 375px) */
@media screen and (max-width: 667px) {
    section .parrafo {
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

/* TELEFONO VERTICAL */
/* He cogido de referencia: iPhone SE (375px X 667px) */
@media screen and (max-width: 375px) {
    section .parrafo {
        font-size: .7em;
    }

    #footer .parrafo {
        font-size: .4em;
        width: 70%;
        line-height: 100px;
    }

    #logo_footer {
        margin-right: 0px;
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    #premios{
        height: 160px;
    }

}